@model TrackingBonPutih.Models.user
@{
    ViewBag.Title = "Login to Tracking Bon Putih";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="centerpanel" style="margin:0 auto;width:100%;text-align:center"
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <br style="height:40px" />
    <div id="loginsection" style="margin:0 auto;width:300px;text-align:left">
    <section id="loginForm">
        
        @using(Html.BeginForm())
        {
            
            <legend>User Login</legend>
            @Html.ValidationSummary(true)
            <label><h3>NPK</h3></label>
            <div class="input-control text" data-role="input-control">
                @Html.TextBoxFor(u => u.NPK)
                <p class="text-alert">@Html.ValidationMessageFor(u => u.NPK)</p>
            </div>
            <label><h3>Password</h3></label>
            <div class="input-control password" data-role="input-control">
                @Html.PasswordFor(u => u.PASS)
                <p class="text-alert">@Html.ValidationMessageFor(u => u.PASS)</p>
            </div>
            <br style="height:40px"/>
            <input type="submit" class="button large primary" style="background-color:aquamarine" value="Log In"/>
        }
        <br style="height:500px"/>
    </section>
    </div>
</div>