@{ TrackingBonPutih.Models.user userState = (TrackingBonPutih.Models.user)HttpContext.Current.Session["user"];
   IEnumerable<TrackingBonPutih.Models.pos> listPos = (IEnumerable<TrackingBonPutih.Models.pos>) HttpContext.Current.Session["listPos"];  
 }
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
             <link rel="stylesheet" href="~/css/metro-bootstrap.css"/>
            <link rel="stylesheet" href="~/css/metro-bootstrap-responsive.css" />

            <link rel="stylesheet" href="~/css/iconFont.css" />
            <link rel="stylesheet" href="~/css/docs.css" />
            <link rel="stylesheet" href="~/js/prettify/prettify.css" />
            <!-- Load JavaScript Libraries -->
            <script src="~/js/jquery/jquery.min.js"></script>
            <script src="~/js/jquery/jquery.widget.min.js"></script>
            <script src="~/js/jquery/jquery.mousewheel.js"></script>
            <script src="~/js/prettify/prettify.js"></script>
            <!-- Metro UI CSS JavaScript plugins -->
            <script src="~/js/load-metro.js"></script>
            <!-- Local JavaScript -->
            <script src=""></script>
            <script src="~/js/github.info.js"></script>
            <script src="~/js/metro.min.js"></script>
            <script src="~/js/hitua.js"></script>
        <meta name="viewport" content="width=device-width" />
        <style>
            h2 {
                color:blue;
            }
        </style>
    </head>
    <body class="metro">

            <nav class="navigation-bar" style="height:50px">
    <nav class="navigation-bar-content">
    <img class="element" src="~/Images/Isuzu_logo.png" width="150px" height="60px" style="margin-top:8px;margin-right:0px" />
    <div class="element">
    <h3 style="margin-top:0px;color:#ffffff">Sistem Tracking Bon Putih PT IAMI</h3>
    </div>
 
     
    <div class="element place-right" style="margin-right:30px">
    <a class="dropdown-toggle" href="#">
    <span class="icon-cog"></span>
    </a>
    <ul class="dropdown-menu place-right" data-role="dropdown">
    <li><a href="#">Edit Profil</a></li>
    <li><a href="/Home/Logout">Log Out</a></li>
    </ul>
    </div>
   
    <span class="element-divider place-right"></span>
    <button class="element image-button image-left place-right">
        @userState.nama
    <img src="~/Images/User No-Frame.png"/>
    </button>
    </nav>
    </nav>

        <div class="container" style="margin-left:20px;margin-top:20px">
    <div style="float:left;width:260px">
        <nav class="sidebar light">
        <ul>
            <li class="title">Menu Utama</li>
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#" ><i class="icon-cog"></i>Manajemen User</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    @if(userState.LEVEL[0] == 'a'){
                    <li><a href="ManajemenUser/TambahUser">Tambah User</a></li>
                    }
                    @if(userState.LEVEL[1] == 'a'){
                    <li><a href="ManajemenUser/ListUser">List User</a></li>
                    }
                </ul>
            </li>
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#"><i class="icon-home"></i>Manajemen Departemen</a>
            
                <ul class="dropdown-menu" data-role="dropdown">
                    @if(userState.LEVEL[2] == 'a'){
                    <li><a href="ManajemenDepartemen/TambahDepartemen">Tambah Departemen</a></li>
                    }
                    @if(userState.LEVEL[3] == 'a'){
                    <li><a href="ManajemenDepartemen/ListDepartemen">List Departemen</a></li>
                    }
                </ul>
            </li>
            
             <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>Manajemen Pos & Rules</a>
            
                <ul class="dropdown-menu" data-role="dropdown">
                    @if(userState.LEVEL[4] == 'a'){
                    <li><a href="ManajemenPos/ListPos">List Post & Rules</a></li>
                    }
                </ul>
            </li>
     
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#">Manajemen Data</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    @if(userState.LEVEL[5] == 'a'){
                    <li><a href="#">Input Bon Putih</a></li>
                    }
                        @if(userState.LEVEL[6] == 'a'){
                    <li><a href="#">Print Barcode</a></li>
                    }
                        @if(userState.LEVEL[7] == 'a'){
                    <li><a href="#">Tracking Data</a></li>
                    }
                        @if(userState.LEVEL[8] == 'a'){
                    <li><a href="#">Print Surat Pengantar</a></li>
                    }
                        @if(userState.LEVEL[9] == 'a'){
                    <li><a href="#">Report</a></li>
                    }
                </ul>
            </li>

            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#">POS</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    @foreach (var item in listPos)
                    {  
                        if(item.ID_POS == 0 && item.S_POS == 1 && userState.LEVEL[10] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 1 && item.S_POS == 1 && userState.LEVEL[11] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 2 && item.S_POS == 1 && userState.LEVEL[12] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 3 && item.S_POS == 1 && userState.LEVEL[13] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 4 && item.S_POS == 1 && userState.LEVEL[14] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 5 && item.S_POS == 1 && userState.LEVEL[15] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 6 && item.S_POS == 1 && userState.LEVEL[16] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 7 && item.S_POS == 1 && userState.LEVEL[17] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 8 && item.S_POS == 1 && userState.LEVEL[18] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                        
                        if(item.ID_POS == 9 && item.S_POS == 1 && userState.LEVEL[19] == 'a'){
                            <li><a href="#">@item.NAMA_POS</a></li>
                        }
                       
                    }

                     @if(userState.LEVEL[20] == 'a'){
                            <li><a href="#">POS REJECT</a></li>
                     }
                        
                     @if(userState.LEVEL[21] == 'a'){
                            <li><a href="#">ARCHIVING</a></li>
                     }
                 
                </ul>
            </li>
        </ul>
     </nav>
    </div>
            </div>
        <div id="content" style="float:left;height:600px"> 
            <div>
                <div style="width:100%;float:left;margin-left:100px">
            @RenderBody()
                    <p style="height:100px"></p>
                    <p style="text-align:center">&copy; @DateTime.Now.Year - PT Isuzu Astra Motor Indonesia</p>
                    <p style="text-align:center">Using Microsoft &trade; .Net Framework 4.5 and ASP .Net MVC 4</p>
                </div>
                </div>
            </div>
</body>
</html>
